.header-wrapper {
    position: relative;
    z-index: 1;
}

.top-screen {
    border-bottom: 1px solid black;
}

.logo {
    font-family: 'UnifrakturCook', cursive;
    font-size: 3rem;
    margin: 0;
    white-space: nowrap;
}

@media (max-width: 64.5em) {
    .logo {
        font-size: 2.5rem;
    }
}

.date {
    font-family: "Noto Sans", Helvetica, sans-serif;
}

.e-Edition {
    font-weight: 500;
    text-decoration: none;
    color: #0a0908;
    font-size: 0.775rem;
}

.e-Edition:hover {
    text-decoration: underline;
}

.bi-sun {
    vertical-align: middle;
}

nav.nav a {
    font-size: 0.9375em;
    font-weight: 650;
    color: #0a0908;
    padding: 0 1rem;
    text-decoration: none;
}

nav.nav a:hover {
    text-decoration: underline;
}

.btn-lg {
    width: 7.5em;
    height: 3em;
    font-size: 0.9rem;
    font-family: Helvetica, sans-serif;
    color: #fff;
    background-color: #006394;
    border-radius: 4px;
}

.widget-title {
    font-weight: bold;
    color: #006394;
    font-size: 0.878rem;
    margin-right: 2.35rem;
}

.widget-item {
    white-space: nowrap !important;
    font-weight: normal !important;
    color: gray;
    text-decoration: none !important;
    font-size: 1.1rem;
    margin-right: 2px !important;
}

.widget-item:hover {
    color: #006394;
}

.container-fluid.d-lg-none {
    position: sticky;
    top: 0;
    z-index: 1030;
    background-color: white;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1050;
    display: none;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.sticky-header.show {
    display: block;
    transform: translateY(0);
    opacity: 1;
}

.header-wrapper.hide {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.header-banners {
    height: 150px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    white-space: nowrap;
    border: 0;
}

.article-title{
    text-decoration: none;
    color: #0a0908;
    font-weight: 500;
}

.main-title-metered {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.8rem;
}

.excerpt {
    font-size: 1.1rem;
}

.feature-large figure{
    margin-bottom: 0.3rem;
}
.primary-related-title {
    padding-top: 7px;
    font-size: 0.8rem;
    color: #494545;
}

.entry-title {
    font-weight: 50;
    font-size: 1.15rem;
    margin-bottom: 0;
}

.headline-list {
    font-size: 0.8rem;
}

.headline-list-title {
    color: #0a0908;
    font-weight: 370;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid #006da3;
}

.headline-list ul{
    list-style: none;
    padding-left: 0;
}

.headline-feature-secondary.article-title{
    font-size: 1rem !important;
}

.headline-feature-secondary{
    border-top: 1px solid #d8cccc;
    margin-top: 0.7rem;
    padding-top: 1rem;
}

.hl-title {
    font-size: 1rem;
}

.social-links {
    background-color: #F1EFEB;
}

.social-links a {
    text-decoration-line: none;
}

.prompt {
    font-size: 1rem;
}

.newsletter-button {
    font-size: 1.1rem;
    border: none;
    background-color: #006394;
    color: #fff;
    border-radius: 4px;
}

.recommend {
    font-size: 1.3rem;
    color: #006394;
    border-bottom: 2px solid #006394;
}

.recommended-list ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.recommended-list ul li a {
    text-decoration: none;
    color: #0a0908;
    font-weight: 700;
    font-size: 1.1rem;
}

.circle-number {
    font: normal 600 1.3125em / 1 "Noto Sans", Helvetica, sans-serif;
    background-color: #006394;
    border-radius: 50%;
    color: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    flex-shrink: 0;
}


.landing-row ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.section-highlight-content ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.category-common{
    font-size: 1.4rem;
    font-weight: 370;
    color: #38322a;
}

.entry-title a{
    text-decoration: none;
}

.section-highlight h2{
    border-bottom: 2px solid #006394;
}
.dfm-title-metered {
    font-size: 1.25rem;
}

.dfm-title{
    font-size: 1rem;
    font-weight: 650;
}

.media-content-slideshow ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.dfm-title-metered-s {
    font-size: 2rem;
}

.btn {
    color: #fff;
    background-color: #006394;
}

.btn:hover {
    color: #fff;
    background-color: #0b6ca5;
    text-decoration: underline;
}

.footer-smaller i {
    color: #959494;
}

.feature-media-video a {
    text-decoration: none;
}
.feature-media-video h2 {
    border-bottom: 2px solid #006394;
}

.btn.btn-link {
    background-color: transparent;
    color: #006394;
}

.show-more-border {
    color: #989797;
    border-width: 2px;
    height: 1px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.show-more-arrow {
    top: -12px;
    font-size: 2rem;
    color: #a1a0a0;
    background: transparent;
    padding: 0 10px;
}

.last-section h2 {
    border-bottom: 2px solid #006394;
}